<div class="login-container">
  <div style="height:200px"></div>

  <div layout="row">
    <!-- Spacer -->
    <div flex-xs="10" flex-sm="20" flex-gt-sm="35"></div>

    <!-- Login Form -->
    <div flex md-whiteframe>
      <md-subheader class="login-subheader">
        <md-button href="/home"><h1>CloudBase</h1></md-button>
      </md-subheader>
      <form role="form" action="/auth/local" method="post">
          <md-content layout="column" layout-padding>
            <md-input-container>
              <label>Email/Username</label>
              <input required name="identifier">
            </md-input-container>

            <md-input-container>
              <label>Password</label>
              <input required name="password" type="password">
            </md-input-container>

            <md-button type="submit" class="md-raised md-primary">Login</md-button>

            <div layout="row" layout-align="center center">
              <div flex="50">
                <md-button href="/home">Forgot Password</md-button>
              </div>
              <div flex="50" style="text-align:right">
                <md-button href="/register">Register</md-button>
              </div>
            </div>
          </md-content>
      </form>
    </div>

    <!-- Spacer -->
    <div flex-xs="10" flex-sm="20" flex-gt-sm="35"></div>
  </div>

  <br></br>

  <!-- Error Messages -->
  <% if (errors) {%>
    <% errors.forEach(function (error) { %>
      <div layout="row">
        <div flex-xs="10" flex-sm="20" flex-gt-sm="35"></div>
        <div flex>
          <md-toolbar class="md-warn">
            <h2 class="md-toolbar-tools">
              <span><%= __(error) %></span>
            </h2>
          </md-toolbar>
        </div>
        <div flex-xs="10" flex-sm="20" flex-gt-sm="35"></div>
      </div>
    <% }) %>
  <% } %>
</div>
