<div ng-controller="HeaderCtrl">
  <div layout="row" layout-padding class="navbar" layout-align="space-between center">
    <div>
      <md-button href="/home">CloudBase</md-button>
      <md-button href="/popular">Popular</md-button>
      <md-button href="/recent">Recent</md-button>
    </div>
    <div ng-hide="currentUser">
      <md-button href="/login" target="_self" class="md-raised md-primary">Log In</md-button>
      <md-button href="/register" target="_self" class="md-raised md-primary">Register</md-button>
    </div>
    <div ng-hide="!currentUser">
      <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSideNav()">
        <md-icon md-font-library="material-icons md-48" class="md-light">menu</md-icon>
      </md-button>
    </div>
  </div>

  <!-- Side Nav -->
  <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">

    <md-toolbar class="login-subheader" layout="row">
      <div class="md-toolbar-tools" layout-align="space-between center">
        <h1>{{currentUser.username}}</h1>
        <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleSideNav()">
          <md-icon md-font-library="material-icons md-48" href="/creation" class="md-light">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-list-item href="/creation" class="noright">
      <p>Create</p>
    </md-list-item>
    <md-list-item class="noright">
      <p>Account</p>
    </md-list-item>
    <md-list-item href="/logout" target="_self" class="noright">
      <p>Logout</p>
    </md-list-item>
  </md-sidenav>
</div>
