<div ng-controller="CreationCtrl">

    <div layout="row">

        <md-content layout-padding flex-offset-gt-sm="15" flex-offset-xs="5" flex-gt-sm="70" flex-xs="90">
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="New Recipe">
            <md-content class="md-padding">
              <h1 class="md-display-2">New Recipe</h1>
              <form class="form-vertical" role="form" ng-submit="createRecipe()" onkeypress="return event.keyCode != 13;">
              <div layout="column">

                  <md-input-container>
                    <label>Name</label>
                    <input type="text" required ng-model="newRecipe.name">
                  </md-input-container>

                  <md-input-container>
                    <label>Description</label>
                    <input type="text" required ng-model="newRecipe.description">
                  </md-input-container>

                <div layout="row">
                    <md-input-container flex="30">
                        <label>Currency</label>
                        <md-select ng-model="newRecipe.currency">
                          <md-option><em>None</em></md-option>
                          <md-option ng-repeat="currency in currencies" ng-value="currency.name">
                            {{currency.name}}
                          </md-option>
                        </md-select>
                      </md-input-container>
                      <md-input-container flex="70">
                        <label>Cost</label>
                        <input type="text" ng-model="newRecipe.cost">
                      </md-input-container>
                </div>

                <div layout="row" layout-align="space-between center">
                    <md-input-container>
                        <label>Nicotine (ml)</label>
                        <input type="text" required ng-model="newRecipe.nicotine.ml">
                    </md-input-container>
                    <md-input-container>
                        <label>Propylene Glycol (ml)</label>
                        <input type="text" required ng-model="newRecipe.nicotine.ml">
                    </md-input-container>
                    <md-input-container>
                        <label>Vegetable Glycerin (ml)</label>
                        <input type="text" required ng-model="newRecipe.nicotine.ml">
                    </md-input-container>
                </div>
                </div>
              </form>
          </md-tab>
          <md-tab label="New Flavor">
            <md-content class="md-padding">
              <h1 class="md-display-2">Tab Two</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
              <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
              <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
            </md-content>
          </md-tab>
        </md-tabs>
        </md-content>

        <div flex-gt-sm="15" flex-xs="5">
        </div>
    </div>
<!--
  <form class="form-vertical" role="form" ng-submit="createRecipe()" onkeypress="return event.keyCode != 13;">
      <md-content layout="column" layout-margin>
      <md-input-container>
        <label>Name</label>
        <input type="text" required ng-model="newRecipe.name">
      </md-input-container>

      <md-input-container>
        <label>Description</label>
        <input type="text" required ng-model="newRecipe.description">
      </md-input-container>

      <md-input-container>
        <label>Cost</label>
        <div class="row">
          <div class="col-xs-3">
            <select class="form-control" id="sel1" ng-model="newRecipe.currency">
              <option>USD</option>
            </select>
          </div>
          <div class="col-xs-9">
            <input type="text" required ng-model="newRecipe.cost">
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Nicotine</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" required class="form-control" placeholder="Milliliters" ng-model="newRecipe.nicotine.ml">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Grams" ng-model="newRecipe.nicotine.grams">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Percent" ng-model="newRecipe.nicotine.percent">
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Propylene Glycol (PG)</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" required class="form-control" placeholder="Milliliters" ng-model="newRecipe.pg.ml">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Grams" ng-model="newRecipe.pg.grams">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Percent" ng-model="newRecipe.pg.percent">
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Vegetable Glycerin (VG)</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" required class="form-control" placeholder="Milliliters" ng-model="newRecipe.vg.ml">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Grams" ng-model="newRecipe.vg.grams">
          </div>
          <div class="col-xs-4">
            <input type="text" class="form-control" placeholder="Percent" ng-model="newRecipe.vg.percent">
          </div>
        </div>
      </md-input-container>

      <md-input-container>
        <label>Flavors</label>
        <div ng-repeat="flavor in newRecipe.flavors">
          <div class="row form-group">
              <div class="col-xs-1">
                <a class="btn btn-danger" ng-click="removeFlavorLine($index)" ng-hide="$first">
                  <span class="glyphicon glyphicon-minus"></span>
                </a>
              </div>
              <div class="col-xs-5">
                <input type="text" ng-model="flavor.name" placeholder="Name" uib-typeahead="flavor as flavor.name for flavor in search($viewValue)" typeahead-on-select="flavorSelected($item,$index)" typeahead-loading="loadingLocations" typeahead-no-results="noResults" class="form-control">
              </div>
              <div class="col-xs-2">
                <input type="text" required class="form-control" placeholder="Milliliters" ng-model="flavor.ml">
              </div>
              <div class="col-xs-2">
                <input type="text" required class="form-control" placeholder="Grams" ng-model="flavor.grams">
              </div>
              <div class="col-xs-2">
                <input type="text" required class="form-control" placeholder="Percent" ng-model="flavor.percent">
              </div>
          </div>
        </div>
        <a class="btn btn-primary" ng-click="addFlavorLine()">
          Add Flavor
        </a>
      </md-input-container>

      <md-input-container>
        <label>Tags</label>
        <div class="row">
          <div class="col-xs-10">
            <input type="text" class="form-control" name="tags" placeholder="Tag" id="tags" ng-model="tag_value" ng-keypress="($event.charCode==13)? addTag() : return">
          </div>
          <div class="col-xs-2">
            <button type="button" class="btn btn-primary" ng-click="addTag()">Add Tag</button>
          </div>
        </div>
        <div class="tag-container">
            <div ng-repeat="tag in newRecipe.tags" class="chip">
              {{tag}}
              <span class="closebtn" ng-click="removeTag($index)">&times;</span>
            </div>
        </div>
      </md-input-container>

      <md-input-container>
        <button type="submit" class="btn btn-primary" ng-disabled="!currentUser">Submit</button>
      </md-input-container>

      </md-content>
  </form>

  <div style="height:1000px"></div>
-->
</div>
