<div ng-controller="RecipeContainerCtrl" layout="row" flex layout-align="center center" layout-wrap>

  <md-card md-whiteframe="8" ng-repeat="recipe in recipes" ng-click="showRecipeDialog($event , recipe)">
    <img ng-src="{{recipe.images[0] || 'http://placehold.it/500x500'}}" class="md-card-image center-cropped" alt="Washed Out">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{recipe.name}}</span>
      </md-card-title-text>
    </md-card-title>

    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-icon-button" ng-click="likeRecipe($index,recipe)">
        <md-icon md-font-library="material-icons md-18">thumb_up</md-icon>
      </md-button>
      <span class="md-subhead">{{recipe.likes}}</span>
      <md-button class="md-icon-button" ng-click="dislikeRecipe($index,recipe)">
        <md-icon md-font-library="material-icons md-18">thumb_down</md-icon>
      </md-button>
      <span class="md-subhead">{{recipe.dislikes}}</span>

    </md-card-actions>
  </md-card>

</div>
